*{
    font-family: 'Josefin Sans',sans-serif;
}

.slide1{
    height: 500px ;
}
.carousel {
    height: 500px;
}

.carousel-inner, .carousel-item {
    height: 500px;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    filter: brightness(0.6);
}
.custom-btn {
    background-color: rgba(80, 47, 3, 0.664) !important;
    border-color:rgba(80, 47, 3, 0.664) !important;
    color: white; 
  }

  .slide2 {
    background-color: rgb(236, 233, 222);
}

.aboutHeader {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
    
}

.aboutText {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}


.header-title {
    font-size: 1.8rem;
    letter-spacing: 4px;
}

.header-line {
    width: 50px;
    border: 1px solid #000;
}

.header-subtitle {
    font-size: 1.2rem;
}

.history {
    background-color: #fff; 
}

.history-card {
    background-color: #d9d6cd; 
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    height: 190px;
    margin-bottom: 20px;
}

.history-card h5 {
    font-weight: bold;
}