
*{
    font-family: 'Josefin Sans',sans-serif;
}

.first{
    height: 900px;
    background-color: white;
}

.btn{
    border-radius: 30px;
    background-color:rgb(216, 213, 202);
   font-weight: bold;
   padding: 10px;
   width: 150px;
   
}

.btn:hover {
    background-color:  rgba(80, 47, 3, 0.664) !important; 
    transform: scale(1.05); 
  }
  
  
  .btn:focus {
    outline: 2px solid #0056b3;
    outline-offset: 4px;
  }

.header1{
    width: 350px;
    margin-left: 30px;
    margin-top: 100px;
    position: relative;
    padding: 30px;
    
}
.rate{
    
    margin-left: 50px;
    position: relative;
    
    margin-bottom: 50px;
    
}
.value{
    font-weight:300;
    font-size: medium;
}

#carouselExampleCaptions {
    max-width: 700px;
    margin: 0 auto; 
  }
  
  .carousel-inner img {
    width: 100%;  
    height: auto;
  }
  
  .carousel-control-prev-icon, 
.carousel-control-next-icon {
  background-color: grey;
  filter: brightness(1.7);
}

.reviews{
    padding: 50px;
    gap: 30px;
    width: 100vw;
    justify-content: center;
    text-align: center;
     margin: auto;
}

