
*{
    font-family: 'Josefin Sans',sans-serif;
}



.first{
    
    background-color: white;
}

.btn{
   border-radius: 30px;
   background-color:rgb(216, 213, 202);
   font-weight: bold;
   padding: 10px;
   width: 150px;
   border: 2px solid rgba(80, 47, 3, 0.664) !important;
   color: rgba(80, 47, 3, 0.664) !important;
   
}

.btn:hover {
    background-color:  rgba(80, 47, 3, 0.664) !important; 
    transform: scale(1.05); 
  }
  
  
  .btn:focus {
    outline: 2px rgba(80, 47, 3, 0.664) !important;
    outline-offset: 4px;
  }

  .btn2{
    border-radius: 30px;
    background-color: rgba(80, 47, 3, 0.664) !important;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    border: 2px solid rgba(80, 47, 3, 0.664) !important;
    color:rgb(216, 213, 202);
    
 }
 
 .btn2:hover {
    background-color:  rgb(216, 213, 202); 
    transform: scale(1.05); 
  }
  
  
  .btn2:focus {
    outline: 2px rgb(216, 213, 202);
    outline-offset: 4px;
  }

.header1{
    width: 350px;
    margin-left: 30px;
    margin-top: 100px;
    position: relative;
    padding: 30px;
    
}
.rate{
    
    margin-left: 50px;
    position: relative;
    
    margin-bottom: 50px;
    
}
.value{
    font-weight:300;
    font-size: medium;
}

.doctors {
   
    padding-top: 50px;
    padding-bottom: 50px;
   
}


#carouselExampleCaptions {
    max-width: 700px;
    margin: 0 auto; 
  }
  
  .carousel-inner img {
    width: 100%;  
    height: auto;
  }
  
  .carousel-control-prev-icon, 
.carousel-control-next-icon {
  background-color: grey;
  filter: brightness(1.7);
}

.reviews{
    padding: 50px;
    gap: 30px;
    width: 100vw;
    justify-content: center;
    text-align: center;
     margin: auto;
}

.feedback{
    background-color: rgb(216, 213, 202);
    
}

@media (max-width: 768px) {
   
    .feedback form {
        max-width: 100% !important;
        width: 100% !important;
        padding: 40px !important;
        margin: 30px !important;
        border-radius: 0 !important;
    }

}
